<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Settings</h1>
            <ol class="breadcrumb">
                <li><a href="../#">Home</a></li>
                <li><a href="../#/user">Settings</a></li>
                <li class="active">General or Privacy Settings</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Sorry</h1>
            <h3>No Settings available yet!</h3>
        </div>

    </div>

</div>
